
{% set org_id = app['combodo.current_user'].Get('org_id') %}
{% set biling_link = "" %}
{% set asset_link = "" %}
{% set centralize_link = "" %}
{% if org_id == 141 %}
	{% set biling_link = "https://lookerstudio.google.com/reporting/c2a6fbf1-104a-4576-a61a-93c0fa282a4c" %}
	{% set asset_link = "https://lookerstudio.google.com/reporting/481b8d7a-7059-4450-bfee-26bc9a315802" %}
{% elseif org_id == 108 %}
	{% set biling_link = "https://lookerstudio.google.com/reporting/daf7a5be-0cf7-48ed-a9fb-c9e1831e5375" %}
	{% set asset_link = "https://lookerstudio.google.com/reporting/84ab7144-471b-4434-b9f2-deacb6c18c77" %}
	{% set centralize_link = "https://console.cloud.google.com/monitoring/dashboards/builder/ee3705c9-233d-4fc3-ad3b-0be1044621c6;duration=PT1H?project=dto-mon-prod&pageState=(%22eventTypes%22:(%22selected%22:%5B%22CLOUD_ALERTING_ALERT%22,%22SERVICE_HEALTH_INCIDENT%22,%22CLOUD_RUN_DEPLOYMENT%22,%22VM_TERMINATION%22%5D))" %}
{% elseif org_id == 248 %}
	{% set biling_link = "https://lookerstudio.google.com/reporting/b7aa1160-2d85-4de6-917a-8177bd689a70" %}
	{% set asset_link = "https://lookerstudio.google.com/reporting/7aad8bb8-b721-4953-932b-266432b876d1" %}
	{% set centralize_link = "https://console.cloud.google.com/monitoring/dashboards/builder/e2352250-4663-404c-a289-313ced7ba8a3;duration=PT1H?project=monitoring-nonplatform-prj" %}
{% endif %}	

{% set element_class = "col-xs-6 col-sm-6" %}
{% if biling_link == '' or asset_link == '' %}
{% set element_class = "col-xs-12 col-sm-12" %}
{% endif %}	

{% if biling_link != '' %}
<div class="{{element_class}}">
	<a href="{{biling_link}}" target="_blank" class="tile" id="brick-faq" data-brick-id="faq">
		<div class="tile_decoration">
			<span class="icon fc fc-2x">
				<svg style="height:1em; width:1em; display: inline-block;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
					</svg>
			</span>
		</div>
		<div class="tile_body">
			<div class="tile_title">Billing GCP</div>
			<div class="tile_description"><p>
				This link directs to the billing dashboard to view detailed information related to billing.</p></div>
		</div>
	</a>
</div>
{% endif %}	

{% if asset_link != '' %}
<div class="{{element_class}}">
	<a href="{{asset_link}}" target="_blank" class="tile" id="brick-faq" data-brick-id="faq">
		<div class="tile_decoration">
			<span class="icon fc fc-2x">
				<svg style="height:1em; width:1em; display: inline-block;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
					</svg>
			</span>
		</div>
		<div class="tile_body">
			<div class="tile_title">Asset GCP</div>
			<div class="tile_description">
				<p>This link directs to the asset inventory page to view GCP resources.</p>
			</div>
		</div>
	</a>
</div>
{% endif %}	

{% if centralize_link != '' %}

<div class="col-xs-12 col-sm-12">
	<a href="{{centralize_link}}" target="_blank" class="tile" id="brick-faq" data-brick-id="faq">
		<div class="tile_decoration">
			<span class="icon fc fc-2x">
				<svg style="height:1em; width:1em; display: inline-block;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
					</svg>
			</span>
		</div>
		<div class="tile_body">
			<div class="tile_title">Centralize Monitoring GCP</div>
			<div class="tile_description">
				<p>This link directs to the monitoring report page to view system performance and usage reports.</p>
			</div>
		</div>
	</a>
</div>
{% endif %}	
